#informationPanel {
    margin-top: 20px;
    font-size: 15px;
}

#informationPanel .detail {
    padding-left: 25px;
    margin: 5px;
}

#informationPanel .header {
    margin: 5px;
    font-weight: bold;
}

#informationPanel table td.table-key, #dataComparison table td.table-key {
    font-weight: bold;
    border: solid 1px black;
}

#informationPanel table td.table-value, #dataComparison table td.table-value {
    text-align: right;
    border: solid 1px black;
}

#comparableWeeks .brush rect.selection {
    stroke-width: 1;
    stroke: black;
}